<h1>
    This is a header
    <span class="badge">New</span>
</h1>
<h1>
    This is a header (with extra badge padding)
    <span class="badge badge--extra-padding">New</span>
</h1>
<h2>
    This is a header
    <span class="badge">New</span>
</h2>
<h3>
    This is a header
    <span class="badge">New</span>
</h3>
<h4>
    This is a header
    <span class="badge">New</span>
</h4>
<h5>
    This is a header
    <span class="badge">New</span>
</h5>
<h6>
    This is a header
    <span class="badge">New</span>
</h6>
