footer.footer
    .footer__inner-container
        // TODO: Once complete add links to github pages
        span: a(href="https://github.com/tobias290" target="_blank" rel="noreferrer noopener").no-style GitHub
        hr
        div.footer__bottom
            span: a(href="https://toby-essex.netlify.app/" target="_blank" rel="noreferrer noopener").no-style Toby Essex
            span v1.0.0
