mixin searchList
    .search-list
        each items, category in searchItems
            .search-list__header= category

            each item in items
                a.search-list__item.no-style(href=item.link data-header=category data-item=item.name)= item.name


header.header-bar
    .header-bar__inner-container
        h2: i HTML Component Library

        .options
            .hamburger(onclick="toggleMobileNav()"): div
            //i.fas.fa-search

        form.search
            i.fas.fa-search
            input.search__input(type="search" placeholder="Search" onkeyup="onSearch(this)")

            +searchList

        div
            span.version v1.0.0 &nbsp;&nbsp;
            form(method="get" action="/getting-started/download" style="display: inline-block")
                button.btn Download


form.mobile-search
    i.fas.fa-search
    input.mobile-search__input(type="search" placeholder="Search" onkeyup="onSearch(this)")

    +searchList
