nav.nav-side-bar
    ul.nav
        li.nav__item(class=(currentNav === "getting-started" ? "nav__item--active" : "")): a.no-style(href="/getting-started") Getting Started
        li.nav__item(class=(currentNav.includes("component") ? "nav__item--display nav__item--active" : "") onclick="showSubItem(this)") Components
            ul.nav__sub
                li.nav__sub-item(class=(currentNav === "component-alert" ? "nav__sub-item--active" : "")): a(href="/components/alert").no-style Alert
                li.nav__sub-item(class=(currentNav === "component-badge" ? "nav__sub-item--active" : "")): a(href="/components/badge").no-style Badge
                li.nav__sub-item(class=(currentNav === "component-breadcrumb" ? "nav__sub-item--active" : "")): a(href="/components/breadcrumb").no-style Breadcrumbs
                li.nav__sub-item(class=(currentNav === "component-button" ? "nav__sub-item--active" : "")): a(href="/components/button").no-style Button
                li.nav__sub-item(class=(currentNav === "component-button-group" ? "nav__sub-item--active" : "")): a(href="/components/button-group").no-style Button Group
                li.nav__sub-item(class=(currentNav === "component-card" ? "nav__sub-item--active" : "")): a(href="/components/card").no-style Card
                li.nav__sub-item(class=(currentNav === "component-form" ? "nav__sub-item--active" : "")): a(href="/components/form").no-style Forms
                li.nav__sub-item(class=(currentNav === "component-hamburger" ? "nav__sub-item--active" : "")): a(href="/components/hamburger").no-style Hamburger Icon
                li.nav__sub-item(class=(currentNav === "component-modal" ? "nav__sub-item--active" : "")): a(href="/components/modal").no-style Modal
                li.nav__sub-item(class=(currentNav === "component-list-group" ? "nav__sub-item--active" : "")): a(href="/components/list-group").no-style List Group
                li.nav__sub-item(class=(currentNav === "component-overlay" ? "nav__sub-item--active" : "")): a(href="/components/overlay").no-style Overlay
                li.nav__sub-item(class=(currentNav === "component-pagination" ? "nav__sub-item--active" : "")): a(href="/components/pagination").no-style Pagination
                li.nav__sub-item(class=(currentNav === "component-progress" ? "nav__sub-item--active" : "")): a(href="/components/progress").no-style Progress Bar
                li.nav__sub-item(class=(currentNav === "component-table" ? "nav__sub-item--active" : "")): a(href="/components/table").no-style Tables
                li.nav__sub-item(class=(currentNav === "component-toggle" ? "nav__sub-item--active" : "")): a(href="/components/toggle").no-style Toggle
                li.nav__sub-item(class=(currentNav === "component-tooltip" ? "nav__sub-item--active" : "")): a(href="/components/tooltip").no-style Tooltip
                li.nav__sub-item(class=(currentNav === "component-widget" ? "nav__sub-item--active" : "")): a(href="/components/widget").no-style Widgets
        li.nav__item(class=(currentNav.includes("utility") ? "nav__item--display nav__item--active" : "") onclick="showSubItem(this)") Utilities
            ul.nav__sub
                li.nav__sub-item(class=(currentNav === "utility-grid" ? "nav__sub-item--active" : "")): a(href="/utilities/grid").no-style  Grids
                li.nav__sub-item(class=(currentNav === "utility-visibility" ? "nav__sub-item--active" : "")): a(href="/utilities/visibility").no-style  Visibility
        li.nav__item(class=(currentNav === "theme" ? "nav__item--active" : "")): a(href="/theme").no-style Theme
//


//nav.nav-side-bar
//    ul.nav
//        //li.nav__item(class=(currentNav.includes("getting-started") ? "nav__item--display nav__item--active" : "")): a.no-style(href="/getting-started") Getting Started
//
//        each items, category in searchItems
//            li.nav__item(class=(currentNav.includes("getting-started") ? "nav__item--display nav__item--active" : "")): a.no-style(href="/getting-started")= category
//
//            each item in items
//                .search-list__item: a.no-style= item.name
