.footer
    align-items: center
    background: $primary
    color: $white
    display: flex
    height: 200px
    justify-content: center

    width: 100%

    .footer__inner-container
        @extend %inner-container

        flex-direction: column

        hr
            border: .5px solid $white
            width: 100%

        .footer__bottom
            display: flex
            justify-content: space-between
