.search-list
    background: $white
    border-top: 1px solid tint($black, 50%)
    box-shadow: 0 10px 10px rgba($black, .5)
    box-sizing: border-box
    color: #606060
    cursor: default
    display: none
    height: 500px
    overflow: auto

    .search-list__header
        color: #555
        font-size: 1.5rem
        font-weight: bold
        padding: .5rem

    .search-list__item
        display: block
        padding: .3rem 1.5rem

        &:last-of-type
            margin-bottom: .5rem

        &:hover
            background: $background
            cursor: pointer

.header-bar
    align-items: center
    background: $primary
    color: $white
    display: flex
    height: 70px
    justify-content: center
    position: sticky
    top: 0
    width: 100%
    z-index: 1000

    .header-bar__inner-container
        @extend %inner-container

        align-items: center

        .options
            align-items: center
            font-size: 25px
            display: none
            justify-content: space-between
            width: 75px

    .search
        position: relative
        max-width: 500px
        width: 30%

        @include mobile-query($breakpoint)
            display: none

        &:focus-within .search-list
            display: block

        .fa-search
            color: #909090
            font-size: 1.25rem
            position: absolute
            left: .5rem
            top: .95rem

        .search__input
            border: none
            background: $panel
            color: #505050
            font-size: 1.25rem
            height: 50px
            padding-left: 2.5rem
            width: 100%

            &:focus
                outline: none

        .search-list
            position: absolute
            width: 100%

    @include mobile-query($breakpoint)
        .header-bar__inner-container
            h2
                display: none

            .options
                display: flex



.mobile-search
    display: none
    position: relative
    width: 100%

    @include mobile-query($breakpoint)
        display: block

    &:focus-within .search-list
        display: block

    .fa-search
        color: #909090
        font-size: 1.25rem
        position: absolute
        left: .5rem
        top: 1.85rem

    .mobile-search__input
        border: none
        border-bottom: 1px solid tint($black, 50%)
        background: $panel
        color: #505050
        font-size: 1.5rem
        height: 70px
        padding-left: 2.5rem
        width: 100%

        &:focus
            outline: none

    .search-list
        position: absolute
        width: 100%
        z-index: 100
