.nav-side-bar
    background: #F9F9F9
    height: 100%
    width: 250px
    position: sticky
    top: 70px

    .nav
        list-style: none
        padding: 0 1rem
        user-select: none

        & a
            display: block
            width: 100%

        .nav__item
            cursor: pointer
            font-size: 1.25rem
            font-weight: bold
            margin: .5rem 0

            &.nav__item--display .nav__sub
                display: block

            &.nav__item--active
                color: $button

            .nav__sub
                display: none
                cursor: default
                list-style: none
                padding-left: 1.5rem

                .nav__sub-item
                    color: #606060 !important
                    cursor: pointer
                    font-size: 1rem
                    font-weight: normal
                    margin: .5rem 0

                    &:hover
                        color: $black !important

                    &.nav__sub-item--active
                        color: $button !important
