.secondary-side-nav
    width: 300px
    
    .secondary-side-nav__list
        list-style: none
        margin-top: 5rem
        padding-left: 1rem

        .secondary-side-nav__list-item
            color: #606060
            cursor: pointer
            margin: 1rem 0

            &.secondary-side-nav__list-item--active
                color: $button

            &:hover
                color: $black
