:root {
    font-size: $root-desktop-font-size;
}

* {
    font-family: $default-font-family;
}

a {
    color: $link;

    &:hover {
        text-decoration: underline;
    }
}

@each $name, $color in $colors {
    .#{$name} {
        background: $color !important;
    }
}
