extends layout

block content
    each example in examples
        section.section(id=example.pageLink)
            h1.section__title.section__title--remove-top-margin=example.title

            .section__component(class=(example.pageLink === "1-overlay" ? "section__component--full-border-radius": ""))
                button.btn.section__copy(onclick="copy(`" + example.html + "`)")
                    i.fas.fa-copy
                    | &nbsp; Copy

                pre.section__code
                    code.language-markup= example.html

                unless example.pageLink === "1-overlay"
                    .section__example
                        != example.html

block secondary-side-nav
    ul.secondary-side-nav__list
        each example, index in examples
            li.secondary-side-nav__list-item(class=(index === 0 ? "secondary-side-nav__list-item--active" : ""))
                a.no-style(href="#" + example.pageLink)= example.title

