extends layout

block content
    section.section
        h1.section__title.section__title--remove-top-margin Installation
        p
            | <a class="green" href="/getting-started/download">Download</a> the static CSS and JavaScript files.
            | Place them inside the relevant folders for static CSS and JavaScript.

    section.section
        h1.section__title Custom Theme Installation

        p
            | Open the <a class="green" href="/theme">theme</a> page and edit the theme colours then download the static files and install the same way.

    section.section
        h1.section__title Folder Structure

        pre.section__component.section__component--full-border-radius
            code.language-markup.
                ├─ dist       Complied source files for distribution:
                |  ├─ css         * Compiled CSS files. Includes minified and un-minified files.
                |  └─ js          * JavaScript files. Includes minified and un-minified files.
                ├─ examples   Examples of how to use each of the components.
                ├─ js         Source JavaScript files.
                └─ scss       Source SCSS files.

    section.section
        h1.section__title Font Awesome

        p
            | The icons as part of the component library are from a free icon provider called
            | <a class="green" href="https://fontawesome.com/" target="_blank">Font Awesome</a>.
            | Follow their installation instructions to install and use their icons.

block secondary-side-nav
    ul.secondary-side-nav__list
        li.secondary-side-nav__list-item.secondary-side-nav__list-item--active Installation
        li.secondary-side-nav__list-item Custom Theme Installation
        li.secondary-side-nav__list-item Folder Structure
        li.secondary-side-nav__list-item Font Awesome

