doctype html
html(lang="en")
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="stylesheet", href="/stylesheets/html-component-library/html-component-library.min.css")
        link(rel="stylesheet", href="/stylesheets/html-component-library/grid-demo.css")
        link(rel="stylesheet", href="/stylesheets/prism.css")
        script(rel="application/javascript" src="/javascripts/prism.js")
        script(rel="application/javascript" src="/javascripts/mobile-nav.js")
        script(rel="application/javascript" src="/javascripts/nav-side-panel.js")
        script(rel="application/javascript" src="/javascripts/secondary-side-nav.js")
        script(rel="application/javascript" src="/javascripts/copy.js")
        script(rel="application/javascript" src="/javascripts/search.js")
        script(rel="application/javascript" src="/javascripts/theme-downloader.js")
        script(rel="application/javascript" src="/javascripts/html-component-library/alert.js")
        script(rel="application/javascript" src="/javascripts/html-component-library/hamburger.js")
        script(rel="application/javascript" src="/javascripts/html-component-library/modal.js")
        script(src="https://kit.fontawesome.com/e0b975e243.js" crossorigin="anonymous")
        style(type="text/css").
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
                width: 100%;
            }

    body
        .wrapper
            .mobile-nav.mobile-nav--hide#mobile-nav
                .mobile-nav__inner
                    .hamburger.hamburger--green(onclick="toggleMobileNav()"): div
                    include partials/nav-side-panel

                .background

            include partials/header-bar

            main.main
                .desktop-nav
                    .desktop-nav__sticky-container
                        include partials/nav-side-panel

                .content
                    block content

                .secondary-side-nav
                    .secondary-side-nav__sticky-container
                        block secondary-side-nav

            include partials/footer
