extends layout

block content
    section.section#default-theme
        h1.section__title.section__title--remove-top-margin Default Theme

        .section__theme
            .section__theme-block.section__theme-block--primary Primary
            .section__theme-block.section__theme-block--secondary Secondary
            .section__theme-block.section__theme-block--sucess Success
            .section__theme-block.section__theme-block--info Info
            .section__theme-block.section__theme-block--warning Warning
            .section__theme-block.section__theme-block--danger Danger
            .section__theme-block.section__theme-block--light Light
            .section__theme-block.section__theme-block--dark Dark

    section.section#default-theme-usage
        h1.section__title Default Theme Usage

        .section__component
            button.btn.section__copy(onclick="copy(`" + example + "`)")
                i.fas.fa-copy
                | &nbsp; Copy

            pre.section__code
                code.language-markup=example

            .section__example.section__example--inline
                != example

    section.section#custom-theme
        h1.section__title Create Custom Theme

        form#color-form.section__theme-form(method="get" onsubmit="downloadTheme(event)")
            .color
                input.color-input(type="color" name="primary" value="#3F8AEC")
                label Primary

            .color
                input.color-input(type="color" name="secondary" value="#6C757D")
                label Secondary

            .color
                input.color-input(type="color" name="success" value="#38AE48")
                label Success

            .color
                input.color-input(type="color" name="info" value="#1B93B2")
                label Info

            .color
                input.color-input(type="color" name="warning" value="#C4B924")
                label Warning

            .color
                input.color-input(type="color" name="danger" value="#CB2A2A")
                label Danger

            .color
                input.color-input(type="color" name="dark" value="#3B3B3B")
                label Dark

            .color
                input.color-input(type="color" name="light" value="#F9F9F9")
                label Light

            br
            input.btn(type="submit" value="Download Custom Theme")

block secondary-side-nav
    ul.secondary-side-nav__list
        li.secondary-side-nav__list-item.secondary-side-nav__list-item--active: a.no-style(href="#default-theme") Default Theme
        li.secondary-side-nav__list-item: a.no-style(href="#default-theme-usage") Default Theme Usage
        li.secondary-side-nav__list-item: a.no-style(href="#custom-theme") Create Custom Theme
