<ol class="pagination">
    <li class="pagination__item"><a href="#">Previous</a></li>
    <li class="pagination__item"><a href="#">1</a></li>
    <li class="pagination__item"><a href="#">2</a></li>
    <li class="pagination__item"><a href="#">3</a></li>
    <li class="pagination__item"><a href="#">Next</a></li>
</ol>
