.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;

    @each $name, $size in $grid-gutters {
        &.grid--gutters-#{$name} {
            grid-gap: $size;
        }

        &.grid--gutters-row-#{$name} {
            grid-row-gap: $size;
        }

        &.grid--gutters-column-#{$name} {
            grid-row-gap: $size;
        }
    }

    .grid__cell {
        &.grid__cell--align-center {
            justify-self: center;
        }

        @for $i from 1 through 12 {
            &.grid__row-span-#{$i} {
                grid-row: span $i;
            }

            &.grid__lg-#{$i} {
                grid-column: span $i;
            }

            @include mobile-query(map-get($breakpoints, md)) {
                &.grid__md-#{$i} {
                    grid-column: span $i !important;
                }
            }

            @include mobile-query(map-get($breakpoints, sm)) {
                &.grid__sm-#{$i} {
                    grid-column: span $i !important;
                }
            }
        }
    }
}
