<div class="button-group">
    <button class="button button--icon">
        <i class="fas fa-copy"></i>
    </button>
    <button class="button button--icon">
        <i class="fas fa-copy"></i>
    </button>
    <button class="button button--icon">
        <i class="fas fa-copy"></i>
    </button>
</div>
