@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
.hamburger {
  cursor: pointer;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 100; }
  .hamburger.hamburger--green > div {
    background: #43D443 !important; }
    .hamburger.hamburger--green > div::before, .hamburger.hamburger--green > div::after {
      background: #43D443 !important; }
  .hamburger.hamburger--active > div {
    background: transparent !important; }
    .hamburger.hamburger--active > div::before {
      top: 0;
      transform: rotate(45deg); }
    .hamburger.hamburger--active > div::after {
      top: 0;
      transform: rotate(-45deg); }
  .hamburger > div {
    background: #FFF !important;
    border-radius: 25px;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    transition: background .1s linear; }
    .hamburger > div::before {
      top: -10px; }
    .hamburger > div::after {
      top: 10px; }
    .hamburger > div::before, .hamburger > div::after {
      background: #FFF !important;
      border-radius: 25px;
      content: '';
      height: 3px;
      position: absolute;
      transition: all .2s linear;
      width: 30px; }

:root {
  font-size: 16px; }

@media only screen and (max-width: 768px) {
  :root {
    font-size: 14px !important; } }

* {
  font-family: "Raleway", sans-serif; }

a.green {
  color: #38AE48 !important; }

a.no-style {
  color: inherit;
  text-decoration: inherit; }
  a.no-style:hover {
    text-decoration: inherit; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

.header-bar .header-bar__inner-container, .footer .footer__inner-container {
  display: flex;
  height: 100px;
  justify-content: space-between;
  max-width: 1320px;
  padding: 1rem;
  width: 100%; }

.btn {
  background: #43D443;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 1rem;
  height: 40px;
  min-width: 120px; }
  .btn:hover {
    background: #40c940; }
  .btn:focus {
    outline: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  min-height: 100%; }
  .wrapper .mobile-nav {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    transition: all 2s linear 0s; }
    .wrapper .mobile-nav.mobile-nav--hide {
      display: none; }
    @media only screen and (max-width: 768px) {
      .wrapper .mobile-nav {
        display: flex; } }
    .wrapper .mobile-nav .background {
      background: rgba(0, 0, 0, 0.5);
      flex-grow: 1;
      height: 100%; }
    .wrapper .mobile-nav .mobile-nav__inner {
      background: #F9F9F9;
      display: flex;
      flex-direction: column; }
      .wrapper .mobile-nav .mobile-nav__inner .hamburger {
        margin: 1rem 0 0 1rem; }
  .wrapper .nav-side-bar {
    display: block; }
  .wrapper .main {
    display: flex;
    flex-grow: 1;
    position: relative; }
    .wrapper .main .desktop-nav {
      background: #F9F9F9;
      display: flex; }
      @media only screen and (max-width: 768px) {
        .wrapper .main .desktop-nav {
          display: none; } }
      .wrapper .main .desktop-nav .desktop-nav__sticky-container {
        height: fit-content;
        position: sticky;
        top: 70px; }
    .wrapper .main .content {
      background: #E5E5E5;
      box-sizing: border-box;
      padding: 1rem;
      width: calc(100% - 500px); }
      @media only screen and (max-width: 768px) {
        .wrapper .main .content {
          width: 100%; } }
    .wrapper .main .secondary-side-nav {
      background: #E5E5E5;
      display: flex;
      width: 300px; }
      .wrapper .main .secondary-side-nav .secondary-side-nav__sticky-container {
        height: fit-content;
        position: sticky;
        top: 70px; }
      @media only screen and (max-width: 768px) {
        .wrapper .main .secondary-side-nav {
          display: none; } }

.section {
  margin-bottom: 1rem;
  width: 100%; }
  .section .section__title {
    font-size: 1.5rem; }
    .section .section__title.section__title--remove-top-margin {
      margin-top: 0; }
  .section .section__component {
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0;
    overflow: auto;
    position: relative;
    width: calc(100%); }
    .section .section__component.section__component--full-border-radius {
      border-radius: 15px; }
    .section .section__component .section__copy {
      border-top-right-radius: 15px;
      position: absolute;
      right: 0;
      top: 0; }
    .section .section__component .section__code {
      border-radius: 15px 15px 0 0;
      padding-top: 50px;
      margin: 0; }
    .section .section__component .section__example {
      align-items: start;
      background: #FFF;
      border-radius: 0 0 15px 15px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: start;
      overflow: auto;
      padding: 1rem;
      width: calc(100%); }
      .section .section__component .section__example.section__example--inline {
        flex-direction: row; }
        .section .section__component .section__example.section__example--inline > * {
          margin: .25rem; }

.search-list {
  background: #FFF;
  border-top: 1px solid gray;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #606060;
  cursor: default;
  display: none;
  height: 500px;
  overflow: auto; }
  .search-list .search-list__header {
    color: #555;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem; }
  .search-list .search-list__item {
    display: block;
    padding: .3rem 1.5rem; }
    .search-list .search-list__item:last-of-type {
      margin-bottom: .5rem; }
    .search-list .search-list__item:hover {
      background: #E5E5E5;
      cursor: pointer; }

.header-bar {
  align-items: center;
  background: #38AE48;
  color: #FFF;
  display: flex;
  height: 70px;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; }
  .header-bar .header-bar__inner-container {
    align-items: center; }
    .header-bar .header-bar__inner-container .options {
      align-items: center;
      font-size: 25px;
      display: none;
      justify-content: space-between;
      width: 75px; }
  .header-bar .search {
    position: relative;
    max-width: 500px;
    width: 30%; }
    @media only screen and (max-width: 768px) {
      .header-bar .search {
        display: none; } }
    .header-bar .search:focus-within .search-list {
      display: block; }
    .header-bar .search .fa-search {
      color: #909090;
      font-size: 1.25rem;
      position: absolute;
      left: .5rem;
      top: .95rem; }
    .header-bar .search .search__input {
      border: none;
      background: #F9F9F9;
      color: #505050;
      font-size: 1.25rem;
      height: 50px;
      padding-left: 2.5rem;
      width: 100%; }
      .header-bar .search .search__input:focus {
        outline: none; }
    .header-bar .search .search-list {
      position: absolute;
      width: 100%; }
  @media only screen and (max-width: 768px) {
    .header-bar .header-bar__inner-container h2 {
      display: none; }
    .header-bar .header-bar__inner-container .options {
      display: flex; } }

.mobile-search {
  display: none;
  position: relative;
  width: 100%; }
  @media only screen and (max-width: 768px) {
    .mobile-search {
      display: block; } }
  .mobile-search:focus-within .search-list {
    display: block; }
  .mobile-search .fa-search {
    color: #909090;
    font-size: 1.25rem;
    position: absolute;
    left: .5rem;
    top: 1.85rem; }
  .mobile-search .mobile-search__input {
    border: none;
    border-bottom: 1px solid gray;
    background: #F9F9F9;
    color: #505050;
    font-size: 1.5rem;
    height: 70px;
    padding-left: 2.5rem;
    width: 100%; }
    .mobile-search .mobile-search__input:focus {
      outline: none; }
  .mobile-search .search-list {
    position: absolute;
    width: 100%;
    z-index: 100; }

.nav-side-bar {
  background: #F9F9F9;
  height: 100%;
  width: 250px;
  position: sticky;
  top: 70px; }
  .nav-side-bar .nav {
    list-style: none;
    padding: 0 1rem;
    user-select: none; }
    .nav-side-bar .nav a {
      display: block;
      width: 100%; }
    .nav-side-bar .nav .nav__item {
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: bold;
      margin: .5rem 0; }
      .nav-side-bar .nav .nav__item.nav__item--display .nav__sub {
        display: block; }
      .nav-side-bar .nav .nav__item.nav__item--active {
        color: #43D443; }
      .nav-side-bar .nav .nav__item .nav__sub {
        display: none;
        cursor: default;
        list-style: none;
        padding-left: 1.5rem; }
        .nav-side-bar .nav .nav__item .nav__sub .nav__sub-item {
          color: #606060 !important;
          cursor: pointer;
          font-size: 1rem;
          font-weight: normal;
          margin: .5rem 0; }
          .nav-side-bar .nav .nav__item .nav__sub .nav__sub-item:hover {
            color: #000 !important; }
          .nav-side-bar .nav .nav__item .nav__sub .nav__sub-item.nav__sub-item--active {
            color: #43D443 !important; }

.secondary-side-nav {
  width: 300px; }
  .secondary-side-nav .secondary-side-nav__list {
    list-style: none;
    margin-top: 5rem;
    padding-left: 1rem; }
    .secondary-side-nav .secondary-side-nav__list .secondary-side-nav__list-item {
      color: #606060;
      cursor: pointer;
      margin: 1rem 0; }
      .secondary-side-nav .secondary-side-nav__list .secondary-side-nav__list-item.secondary-side-nav__list-item--active {
        color: #43D443; }
      .secondary-side-nav .secondary-side-nav__list .secondary-side-nav__list-item:hover {
        color: #000; }

.footer {
  align-items: center;
  background: #38AE48;
  color: #FFF;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 100%; }
  .footer .footer__inner-container {
    flex-direction: column; }
    .footer .footer__inner-container hr {
      border: 0.5px solid #FFF;
      width: 100%; }
    .footer .footer__inner-container .footer__bottom {
      display: flex;
      justify-content: space-between; }

.section .section__theme {
  display: flex;
  flex-wrap: wrap; }
  .section .section__theme .section__theme-block {
    background: #38AE48;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
    height: 150px;
    line-height: 150px;
    text-align: center;
    width: 150px; }
    .section .section__theme .section__theme-block.section__theme-block--primary {
      background: #3F8AEC; }
    .section .section__theme .section__theme-block.section__theme-block--secondary {
      background: #6C757D; }
    .section .section__theme .section__theme-block.section__theme-block--success {
      background: #38AE48; }
    .section .section__theme .section__theme-block.section__theme-block--info {
      background: #1B93B2; }
    .section .section__theme .section__theme-block.section__theme-block--warning {
      background: #C4B924; }
    .section .section__theme .section__theme-block.section__theme-block--danger {
      background: #CB2A2A; }
    .section .section__theme .section__theme-block.section__theme-block--dark {
      background: #3B3B3B; }
    .section .section__theme .section__theme-block.section__theme-block--light {
      background: #F9F9F9;
      color: #000; }
    .section .section__theme .section__theme-block.section__theme-block--white {
      background: #FFF; }
    .section .section__theme .section__theme-block.section__theme-block--black {
      background: #000; }

.section .section__theme-form {
  display: flex;
  flex-direction: column; }
  .section .section__theme-form .color {
    align-items: center;
    display: flex;
    font-size: 1.2rem; }
    .section .section__theme-form .color .color-input {
      background: none;
      border-radius: 15px;
      border: none;
      cursor: pointer;
      height: 50px;
      margin: .5rem;
      width: 100px; }
  .section .section__theme-form .btn {
    width: 250px; }

/*# sourceMappingURL=style.css.map */