.section
    .section__theme
        display: flex
        flex-wrap: wrap

        .section__theme-block
            background: $primary
            color: $white
            font-size: 1.5rem
            font-weight: bold
            height: 150px
            line-height: 150px
            text-align: center
            width: 150px

            @each $name, $color in $colors
                &.section__theme-block--#{$name}
                    background: $color

                    @if $name == "light"
                        color: $black


    .section__theme-form
        display: flex
        flex-direction: column

        .color
            align-items: center
            display: flex
            font-size: 1.2rem

            .color-input
                background: none
                border-radius: $border-radius
                border: none
                cursor: pointer
                height: 50px
                margin: .5rem
                width: 100px

        .btn
            width: 250px
