<div class="grid grid--gutters-small">
    <div class="grid__cell grid__lg-4">1</div>
    <div class="grid__cell grid__lg-4">2</div>
    <div class="grid__cell grid__lg-4">3</div>

    <div class="grid__cell grid__lg-4">4</div>
    <div class="grid__cell grid__lg-4">5</div>
    <div class="grid__cell grid__lg-4">6</div>

    <div class="grid__cell grid__lg-4">7</div>
    <div class="grid__cell grid__lg-4">8</div>
    <div class="grid__cell grid__lg-4">9</div>
</div>
