<form class="form">
    <div class="form__field">
        <label class="form__label" for="input">Label</label>
        <input class="form__input" type="text" id="input" placeholder="Input" />
        <span class="form__help-text">This is helper text</span>
    </div>
</form>
