<form class="form">
    <div class="form__field">
        <label class="form__checkbox">Get news information
            <input type="checkbox">
            <span class="form__checkbox__check"></span>
        </label>
    </div>
</form>
