<form class="form">
    <div class="form__field">
        <label class="form__radio">One
            <input type="radio" name="number">
            <span class="form__radio__radio"></span>
        </label>
        <label class="form__radio">Two
            <input type="radio" name="number">
            <span class="form__radio__radio"></span>
        </label>
        <label class="form__radio">Three
            <input type="radio" name="number">
            <span class="form__radio__radio"></span>
        </label>
    </div>
</form>
