<form class="form">
    <div class="form__field">
        <label class="form__label" for="email">Email</label>
        <input class="form__input" type="email" id="email" placeholder="Email" />
    </div>

    <div class="form__group">
        <div class="form__field">
            <label class="form__label" for="fname">First Name</label>
            <input class="form__input" type="text" id="fname" placeholder="First name" />
            <span class="form__help-text">This is helper text.</span>
        </div>
        <div class="form__field">
            <label class="form__label" for="lname">Last Name</label>
            <input class="form__input" type="text" id="lname" placeholder="Last Name" />
            <span class="form__help-text">This is helper text.</span>
        </div>
    </div>

    <div class="form__group">
        <div class="form__field">
            <label class="form__label">Date of Birth</label>
            <select class="form__input">
                <option selected disabled>Day</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
            </select>
        </div>
        <div class="form__field">
            <label class="form__label"></label>
            <select class="form__input">
                <option selected disabled>Month</option>
                <option>January</option>
                <option>February</option>
                <option>March</option>
            </select>
        </div>
        <div class="form__field">
            <label class="form__label"></label>
            <select class="form__input">
                <option selected disabled>Year</option>
                <option>2020</option>
                <option>2019</option>
                <option>2018</option>
            </select>
        </div>
    </div>

    <div class="form__field">
        <label class="form__label" for="comments">Comments</label>
        <textarea class="form__textarea" id="comments" placeholder="Comments..."></textarea>
    </div>

    <div class="form__field">
        <label class="form__radio secondary">One
            <input type="radio" name="number">
            <span class="form__radio__radio"></span>
        </label>
        <label class="form__radio secondary">Two
            <input type="radio" name="number">
            <span class="form__radio__radio"></span>
        </label>
        <label class="form__radio secondary">Three
            <input type="radio" name="number">
            <span class="form__radio__radio"></span>
        </label>
    </div>

    <div class="form__field">
        <label class="form__checkbox warning">Get news information
            <input type="checkbox">
            <span class="form__checkbox__check"></span>
        </label>
    </div>

    <input class="button" type="submit" value="Submit" />
</form>
