.button {
    background: $primary;
    border: none;
    border-radius: $default-border-radius;
    color: $white;
    cursor: pointer;
    font-size: $button-font-size;
    height: 40px;
    min-width: 100px;
    width: fit-content;

    &:hover {
        background: shade($primary, 10%);
    }

    @each $name, $color in $colors {
        &.#{$name}:hover {
            background: shade($color, 10%) !important;
        }
    }

    &.button--icon {
        min-width: 40px;
    }

    &.button--invert {
        background: transparent !important;
        border: 1px solid $primary;
        color: $primary;

        &:hover {
            background: transparent !important;
            border: 1px solid shade($primary, 20%) !important;
            color: shade($primary, 20%) !important;
        }

        @each $name, $color in $colors {
            &.#{$name} {
                background: $white !important;
                border: 1px solid $color !important;
                color: $color !important;

                &:hover {
                    background: $white !important;
                    border: 1px solid shade($color, 20%) !important;
                    color: shade($color, 20%) !important;
                }
            }
        }
    }
}

.labelled-button {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    width: fit-content;

    @each $name, $color in $colors {
        &.#{$name} {
            background: none !important;

            .button {
                @extend .#{$name};
            }

            .labelled-button__label {
                background: none !important;
                border-color: $color !important;
                color: $color !important;
            }

        }
    }

    &.labelled-button--left {
        .labelled-button__label {
            border: 1px solid $primary;
            border-right: none;
            border-radius: $default-border-radius 0 0 $default-border-radius !important;

            &::before {
                content: none;
            }

            &::after {
                @include triangle(map-get($triangle-directions, right), 8px, $white);
                content: " ";
                position: absolute;
                top: calc(50% - 7px);
                left: calc(100%);
            }
        }

        .button {
            border-radius: 0 $default-border-radius $default-border-radius 0 !important;
        }
    }

    .button {
        border-radius: $default-border-radius 0 0 $default-border-radius;
        height: 100%;
    }

    .labelled-button__label {
        align-items: center;
        border: 1px solid $primary;
        border-left: none;
        border-radius: 0 $default-border-radius $default-border-radius 0;
        box-sizing: border-box;
        color: $primary;
        display: flex;
        height: inherit;
        justify-content: center;
        min-width: 70px;
        position: relative;
        width: fit-content;

        &::before {
            @include triangle(map-get($triangle-directions, left), 8px, $white);
            content: " ";
            position: absolute;
            top: calc(50% - 8px);
            left: -16px;
        }
    }
}
