.hamburger {
    cursor: pointer;
    height: 30px;
    position: relative;
    width: 30px;
    z-index: 100;

    &.hamburger--active {
        & > div {
            background: transparent !important;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                top: 0;
                transform: rotate(-45deg);
            }
        }
    }

    @each $name, $color in $colors {
        &.#{$name}, &.hamburger--active.#{$name} > div {
            background: transparent !important;
        }

        &.#{$name} > div,  &.#{$name} > div::before,  &.#{$name} > div::after{
            background: $color !important;
        }
    }

    & > div {
        $space: 10px;
        $height: 3px;
        $width: 30px;

        background: $primary;
        border-radius: 25px;
        width: $width;
        height: $height;
        position: absolute;
        top: 50%;
        transition: background .1s linear;

        &::before {
            top: -$space;
        }

        &::after {
            top: $space;
        }

        &::before,
        &::after {
            background: $primary;
            border-radius: 25px;
            content: '';
            height: $height;
            position: absolute;
            transition: all .2s linear;
            width: $width;
        }
    }
}
