.list-group {
    list-style: none;
    min-width: 300px;
    width: fit-content;

    &.list-group--full-width {
        width: 100% !important;
    }

    .list-group__item {
        align-items: center;
        border: 1px solid $component-border;
        border-top: none;
        display: flex;
        line-height: 50px;
        min-height: 50px;
        padding: 0 .5rem;


        &:first-child {
            border-radius: $default-border-radius $default-border-radius 0 0 ;
            border-top: 1px solid $component-border;
        }

        &:last-of-type {
            border-radius: 0 0 $default-border-radius $default-border-radius;
        }

        &.list-group__item--active {
            background: $primary;
            border: none;
            color: $white;
        }

        &.list-group__item--disabled {
            color: $disabled;
        }

        .list-group__image {
            padding-right: .5rem;
            height: 60px;
            width: 60px;
        }

         .list-group__content {

            .list-group__header {
                font-weight: bold;
            }
        }
    }
}
