.progress {
    border-radius: $default-border-radius;
    background: #DCDCDC;
    height: 15px;
    width: 100%;

    &.progress--small {
        height: 10px;

        .progress__bar {
            line-height: 10px;
            font-size: .5rem;
        }
    }

    &.progress--large {
        height: 25px;

        .progress__bar {
            line-height: 25px;
            font-size: 1rem;
        }
    }

    .progress__bar {
        background: $primary;
        color: $white;
        height: 100%;
        float: left;
        font-size: $progress-bar-percentage-font-size;
        line-height: 15px;
        text-align: center;

        &:first-of-type {
            border-top-left-radius: $default-border-radius;
            border-bottom-left-radius: $default-border-radius;
        }

        &:last-of-type {
            border-top-right-radius: $default-border-radius;
            border-bottom-right-radius: $default-border-radius;
        }

        &.progress__bar--striped {
            background: repeating-linear-gradient(
                45deg,
                $primary,
                $primary 5px,
                shade($primary, 10%) 5px,
                shade($primary, 10%) 10px
            );

            @each $name, $color in $colors {
                &.#{$name} {
                    background: repeating-linear-gradient(
                        45deg,
                        $color,
                        $color 5px,
                        shade($color, 10%) 5px,
                        shade($color, 10%) 10px
                    ) !important;
                }
            }
        }
    }
}
