.widget {
    min-width: 400px;
    width: fit-content;

    &.widget--full-width {
        width: 100% !important;
    }

    .widget__title {
        align-items: center;
        background: $primary;
        border-radius: $default-border-radius $default-border-radius 0 0;
        box-sizing: border-box;
        color: $white;
        display: flex;
        height: 50px;
        font-weight: bold;
        justify-content: space-between;
        text-transform: uppercase;
        padding: 0 .5rem;
        width: 100%;

        .button-group > .button {
            background: shade($primary, 10%) !important;

            &:hover {
                background: shade($primary, 20%) !important;
            }
        }

        @each $name, $color in $colors {
            &.#{$name} {
                background: $color !important;

                .button-group > .button {
                    background: shade($color, 10%) !important;

                    &:hover {
                        background: shade($color, 20%) !important;
                    }
                }
            }
        }
    }

    .widget__content {
        background: #E1E1E1;
        border-radius: 0 0 $default-border-radius $default-border-radius;
        box-sizing: border-box;
        min-height: 150px;
        width: 100%;
        padding: .5rem;
    }
}
