<ul class="list-group">
    <li class="list-group__item">
        <img class="list-group__image" src="list-group-image-placeholder.png" height="60" width="60" alt="...">
        <div class="list-group__content">
            <div class="list-group__header">
                Heading
            </div>
            This is some content to go with the image and header.
        </div>
    </li>
    <li class="list-group__item">
        <img class="list-group__image" src="list-group-image-placeholder.png" height="60" width="60" alt="...">
        <div class="list-group__content">
            <div class="list-group__header">
                Heading
            </div>
            This is some content to go with the image and header.
        </div>
    </li>
</ul>
