<div class="labelled-button">
    <button class="button button--icon">
        <i class="fas fa-copy"></i>
    </button>
    <div class="labelled-button__label">
        Label
    </div>
</div>
</html>
