@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap")

\:root
   font-size: 16px

@include mobile-query($breakpoint)
    \:root
        font-size: 14px !important

*
    font-family: "Raleway", sans-serif

a
    &.green
        color: $primary !important

    &.no-style
        color: inherit
        text-decoration: inherit

        &:hover
            text-decoration: inherit

body
    height: 100%
    margin: 0
    padding: 0
    width: 100%

%inner-container
    display: flex
    height: 100px
    justify-content: space-between
    max-width: 1320px
    padding: 1rem
    width: 100%

.btn
    background: $button
    border: none
    color: $white
    cursor: pointer
    font-size: 1rem
    height: 40px
    min-width: 120px

    &:hover
        background: shade($button, 5%)

    &:focus
        outline: none

.wrapper
    display: flex
    flex-direction: column
    justify-content: space-between
    height: fit-content
    min-height: 100%

    .mobile-nav
        display: none
        height: 100%
        left: 0
        position: fixed
        top: 0
        width: 100%
        z-index: 1001

        transition: all 2s linear 0s

        &.mobile-nav--hide
            // TODO: Add transitions
            display: none

        @include mobile-query($breakpoint)
            display: flex

        .background
            background: rgba($black, .5)
            flex-grow: 1
            height: 100%

        .mobile-nav__inner
            background: $panel
            display: flex
            flex-direction: column

            .hamburger
                margin: 1rem 0 0 1rem

    .nav-side-bar
        display: block

    .main
        display: flex
        flex-grow: 1
        position: relative

        .desktop-nav
            background: $panel
            display: flex

            @include mobile-query($breakpoint)
                display: none

            .desktop-nav__sticky-container
                height: fit-content
                position: sticky
                top: 70px

        .content
            background: $background
            box-sizing: border-box
            padding: 1rem
            width: calc(100% - 500px)

            @include mobile-query($breakpoint)
                width: 100%

        .secondary-side-nav
            background: $background
            display: flex
            width: 300px

            .secondary-side-nav__sticky-container
                height: fit-content
                position: sticky
                top: 70px


            @include mobile-query($breakpoint)
                display: none
