.section
    margin-bottom: 1rem
    width: 100%

    .section__title
        font-size: 1.5rem

        &.section__title--remove-top-margin
            margin-top: 0

    .section__component
        border-radius: $border-radius $border-radius 0 0
        box-sizing: border-box
        display: flex
        flex-direction: column
        height: fit-content
        margin: 0
        overflow: auto
        position: relative
        width: calc(100%)

        &.section__component--full-border-radius
            border-radius: $border-radius

        .section__copy
            border-top-right-radius: $border-radius
            position: absolute
            right: 0
            top: 0

        .section__code
            border-radius: 15px 15px 0 0
            padding-top: 50px
            margin: 0

        .section__example
            align-items: start
            background: $white
            border-radius: 0 0 $border-radius $border-radius
            box-sizing: border-box
            display: flex
            flex-direction: column
            justify-content: start
            overflow: auto
            padding: 1rem
            width: calc(100%)

            &.section__example--inline
                flex-direction: row

                & > *
                    margin: .25rem
