<div class="grid">
    <div class="grid__cell grid__lg-6 grid__row-span-2">1</div>
    <div class="grid__cell grid__lg-6 ">2</div>
    <div class="grid__cell grid__lg-6">3</div>

    <div class="grid__cell grid__lg-12">4</div>

    <div class="grid__cell grid__lg-3">5</div>
    <div class="grid__cell grid__lg-3">6</div>
    <div class="grid__cell grid__lg-3">7</div>
    <div class="grid__cell grid__lg-3">8</div>
</div>
